* {
    font-family: 'Rubik', sans-serif;
    direction: rtl;
}

.sidebar {
    height: 100vh;
    background: linear-gradient(rgb(1, 1, 17), rgb(0, 0, 0));
    box-shadow: -5px 7px 40px rgb(75, 69, 69);
}

.admin-image {
    border: 1px dashed gray;
    border-radius: 50%;
}

.search-input{
    width: 100%;
    margin-right: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid darkturquoise;
    padding: 0 10px;
}

.search-input:hover
,.search-input:focus{
    outline: none;
    border:none;
    border-bottom: 2px solid rgb(16, 157, 192);
}

.transition:hover{
    transform: scale(1.1);
    transform-origin: center;
    transition: all .2s;
}

/* Media Query  */

@media screen and (max-width: 450.98px) {
    
}

/* default  */
@media screen and (min-width: 451px) and (max-width: 575.98px) {}

/* sm  */
@media screen and (min-width: 576px) and (max-width: 767.98px) {}

/* md  */
@media screen and (min-width: 768px) and (max-width: 991.98px) {}

/* lg  */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .nav-form{
        width: 50%;
    }
}

/* xl  */
@media screen and (min-width: 1200px) {
    .nav-form{
        width: 50%;
    }
}


/* Color  */

.bg-back {
    background-color: #000;
}
