* {
    font-family: 'Rubik', sans-serif;
    direction: rtl;
}

.sidebar {
    height: 100vh;
    background: linear-gradient(rgb(1, 1, 17), rgb(0, 0, 0));
}

.admin-image {
    border: 1px dashed gray;
    border-radius: 50%;
}

.search-input{
    width: 100%;
    margin-right: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid darkturquoise;
    padding: 0 10px;
}

.search-input:hover
,.search-input:focus{
    outline: none;
    border:none;
    border-bottom: 2px solid rgb(16, 157, 192);
}

.transition:hover{
    transform: scale(1.1);
    transform-origin: center;
    transition: all .2s;
}

.task{
    border-right: 5px solid brown;
    background-color: rgb(206, 206, 206);
}

.tooltip{
    background-color: white;
}

.img-act{
    width: 10%;
    height: 10%;
}
textarea{
    resize: none;
}